{% extends 'base.html.twig' %}

{% block navbar %}
    <nav>
        <a href="{{path('book_index')}}" class="logo">Dream Books</a>
        <ul>
            <li><a href="{{path('book_index')}}" class="active">Retour à l'accueil</a></li>
            <li><a href="#">Coup de coeurs</a></li>

        </ul>
    </nav>
{% endblock %}

{% block footer %}
    <footer>        
        <p class="copyright">Copyright by Yann Raulet</p>
    </footer>
{% endblock %}