{% extends 'base.html.twig' %}

{% block navbar %}
    <nav>
        <a href="{{path('product_index')}}" class="logo">Dream Moviz'Books</a>
        <ul>
            <li><a href="{{path('admin_index')}}" class="active">Book index</a></li>
            <li><a href="{{path('movie_index')}}">Movie index</a></li>
            <li><a href="{{path('product_index')}}">Retour à l'accueil du site</a></li>
        </ul>
    </nav>
{% endblock %}

{% block footer %}
    <footer>        
        <p class="copyright">Copyright by Yann Raulet</p>
    </footer>
{% endblock %}