.img-background2 {
    width: 100%;
    height: 95vh;
    background-image:url("../images/painting.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.about-book-text p {
    color: #403e3e;
    font-weight: bold;
    font-size: 40px;
}

.detail-image {
    text-align: center;
    padding: 0 20% 10% 20%;
}

.book-detail-title {
    font-weight: bold;
    color: #3e3d3d;
    font-size: 80px;
}

.grid-book {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-gap: 200px;
}

.box-text {
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
    font-size: 20px;
    padding: 2%;
    border-radius: 10%;
}

.box-image  {
    border-radius: 10%;
}

/*
.box-image {
    width: 50%;
    height: auto;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
    display: flex;
    margin: auto;
}

.box-text {
    width: 50%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
*/